/****** GRATEFUL HEART DESIGN WEB DEV PORTFOLIO
CUSTOM STYLES BY LEACTZ AT GRATEFUL HEART DESIGN
******/


/******
GLOBAL BASICS
******/

/******
BODY
******/

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 30px;
}

/******
SORTING OUT NAVBAR OVERLAPING CONTENT ISSUES
******/

.placeholder {
  color: transparent;
}

.true-heading {
  font-family: 'Sansita One', cursive;
  font-size: 260%;
  margin-top: 30px;
  color: #000000;
  text-shadow: -1px -1px #f17fad;
}

/******
NAVIGATION
******/
.navbar-default {
  background-color: #fce3ec;
}

.nav-list{
  margin-right: 20px;
}

.nav-item a {
  text-transform: uppercase;
  color: #808080;
}

.nav-item a:hover {
  text-shadow: -1px -1px #f9cadb;
}

.nav-item a:active {
  font-weight: bold;
  text-shadow: -1px -1px #f9cadb;
}


/******
HERO SECTION
******/

#big-banner {
  margin: 0 auto;
  margin-top: 30px;
}


/******
ABOUT PAGE
******/

#aboutpage-heading {
  margin-top: 20px;
  font-size: 1.15em;
  text-align: justify;
  line-height: auto;
}

.about-info {
  display: inline-block;
  margin-top: 40px;
  background-color: #fce3ec;
  border-top: 4px dotted #f9cadb;
  border-bottom: 4px dotted #f9cadb;
}

#aboutpage p {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 10px;
  padding: 20px;
}

#aboutpage ul{
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  list-style: square;
  text-align: left;
  text-transform: uppercase;
  color: #808080;
  text-shadow: -1px -1px #f9cadb;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 10px;
}

#aboutpage em {
  font-style: normal;
  font-weight: bold;
}

/******
PORTFOLIO PAGE
******/

#portfoliopage {
  margin-top: 80px;
  text-align: justify;
  font-size: 1em;
  line-height: auto;
}

.portfolio-image {
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  width: 90%;
  height: 60%;
}

.portfolio-image:hover {
  box-shadow:  -2px -2px 5px #808080;
}

.portfolio-image-caption {
  margin-top: 10px;
}


/******
CONTACT PAGE
******/

#contactpage {
  margin-top: 80px;
}

.contact-description {
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  float: right;
}


h4 {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.4em;
}

/******
CONTACT FORM
******/

#contactform {
  margin-top: 50px;
}

legend {
  margin-left: 20px;
}

#form-yourname {
  width: 100%;
  background-color: #fce3ec;
  border-radius: 6px;
  border: transparent;
  box-shadow: inset 2px 2px #f9cadb;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}

#form-yourname:hover {
  box-shadow: -2px -2px 2px #808080;
}

#form-yourmail {
  width: 100%;
  background-color: #fce3ec;
  border-radius: 6px;
  border: transparent;
  box-shadow: inset 2px 2px #f9cadb;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}

#form-yourmail:hover {
  box-shadow: -2px -2px 2px #808080;
}

#form-yourmessage {
  width: 100%;
  max-width: 100%;
  height: 100px;
  background-color: #fce3ec;
  border-radius: 6px;
  border: transparent;
  box-shadow: inset 2px 2px #f9cadb;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}

#form-yourmessage:hover {
  box-shadow: -2px -2px 2px #808080;
}

#form-submit {
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
  background-color: #fce3ec;
  border-radius: 6px;
  border: transparent;
  box-shadow: 2px 2px #f9cadb;
  padding: 8px 5px 5px 5px;
}

#form-submit:hover {
  box-shadow: -2px -2px 2px #808080;
}

#form-text ul{
  font-family: 'Noto Sans', sans-serif;
}

.last-of-type {
  list-style: none;
  font-weight: bold;
}

/******
SOCIAL ICONS
******/

#socialmediarow {
  margin-top: 30px;
  margin-bottom: 60px;
  padding-bottom: 12px;
  background-color: #fce3ec;
  border-top: 4px dotted #f9cadb;
  border-bottom: 4px dotted #f9cadb;
}

#socialmediarow h5 {
  margin-left: -50px;
}

#icons-nest {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  margin-top: 30px;
}

#socialmediarow i {
  color: #808080;
}

#socialmediarow a:hover {
  text-shadow: -5px -5px #f9cadb;
}

/******
FOOTER
******/

#footer {
  margin-top: 60px;
  background-color: #d1d2d4;
}

#footer-text {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

/******
MEDIA QUERIES FOR SMALL SCREENS
******/

/* 768 px and less */
@media screen and (max-width: 768px){

  /******
  NAVBAR CONTENT OVERLAP AND
  SPACE INBETWEEN PAGES
  ******/
  .placeholder {
    font-size: 40%;
  }

  .true-heading {
    margin-top: 60px;
  }

  /******
  NAVIGATION
  ******/
  .navbar-default {
    opacity: 0.9;
  }

  .nav-item a {
    font-weight: bold;
    text-shadow: -1px -1px #ffffff;
  }

  /******
  ABOUT PAGE
  ******/
  #aboutpage {
    margin-top: 0px;
    text-align: center;
    line-height: auto;
    font-size: 1em;
  }

  .about-info {
    margin-top: 30px;
  }

  #aboutpage ul {
    margin-top: 0px;
    list-style: none;
  }

  /******
  CONTACT PAGE
  ******/
  #form-text {
  margin-top: 30px;
}

  /******
  SOCIAL ICONS
  ******/
  #socialmediarow {
    content-align: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  #socialmediarow h5 {
  margin-left: 0px;
  }

  #icons-nest {
  justify-content: center;
}


}
